.Container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #676767; /* Background color of the navigation bar */
    padding: 1rem 0; /* Padding to create space around the links */
    margin-bottom: 1.5rem;
  }
  
  nav ul {
    list-style-type: none; /* Remove default bullet points */
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline; /* Display the list items horizontally */
    margin-right: 20px; /* Add some space between the list items */
  }
  
  nav ul li a {
    color: #fff; /* Text color of the links */
    text-decoration: none; /* Remove underline from links */
    padding: 10px 20px; /* Add padding to the links */
    transition: background-color 0.3s ease; /* Smooth transition effect for background color */
  }
  
  nav ul li a:hover {
    background-color: #555; /* Background color on hover */
    border-radius: 5px; /* Add some border radius for rounded corners */
  }
  