*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --bg-color: white;
    --text-color:rgb(78, 77, 77);
    --primary-color: dodgerblue;
}

.light{
    --bg-color: white;
    --text-color:black;
    --primary-color: dodgerblue;
}

.dark {
    --bg-color: black;
    --text-color:white;
    --primary-color: dodgerblue;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

#switch{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  #switchLabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 4rem;
    height: 2rem;
    background: rgb(75, 75, 75);
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  #switchLabel:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 1.4rem;
    height: 1.4rem;
    background: #7d7c7c;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  #switch:checked + #switchLabel {
    background: #dddddd;
  }
  
  #switch:checked + #switchLabel:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  #switchLabel:active:after {
    width: 100%;
  }
  
